@(id: Long, eventForm: Form[Event])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main("Редактирование события") {
    <div class="row">
        <div class="span12">
            @form(routes.Events.update(id), 'class -> "form-horizontal", 'enctype -> "multipart/form-data") {
              
                @fieldset(eventForm)
            }

						@*
				    @form(routes.Events.delete(id), 'class -> "topRight") {
				        <input type="submit" value="Удалить" class="btn btn-danger">
				    }
				    *@
        </div>
    </div>
}