@(categories: List[Category], events: List[Event])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main("Welcome") {

    <ul>
    @for(event <- events) {
        @if(event.front == true) {
            <li>@event.title</li>
        }
    }
    </ul>

    <a href="@routes.Events.add()" class="btn btn-primary">Добавить Событие</a>
    <a href="@routes.Categories.add()" class="btn btn-primary">Добавить категорию</a>
    <a class="btn" href="@routes.Admin.index()">Админка</a>
}