@(categories: List[Category], categoryForm: Form[Category])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main("Welcome") {
    <h2>Список категорий</h2>
    <ul class="nav nav-pills">
    @for(category <- categories) {
        <li><a href="@routes.Categories.show(category.id)">@category.title</a></li>
    }
    </ul>
    
    <div class="row">
        <div class="span4">
        <fieldset>
            <legend>Добавить категорию</legend>
            @form(routes.Categories.add()) {
                @inputText(categoryForm("title"))
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                  </div>
            }
        </fieldset>
        </div>
    </div>
}