@(loginForm: Form[Application.Login])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main("Welcome") {
    
    <div class="row">
        <div class="span4">
            
        @form(routes.Application.authenticate) { 
        
            <h1>Sign in</h1>
            
            @if(loginForm.hasGlobalErrors) { 
                <p class="error">
                    @loginForm.globalError.message
                </p>
            }
            
            @if(flash.contains("success")) {
                <p class="success">
                    @flash.get("success")
                </p>
            }
            
            <p>
                <input type="text" name="name" placeholder="Логин" value="@loginForm("name").value">
            </p>
            <p>
                <input type="password" name="password" placeholder="Пароль">
            </p>
            <p>
                <button type="submit">Login</button>
            </p>
        }
        
        <p class="note">
            Try <em>test</em> with <em>123</em> as password.
        </p>
            
        </div>
    </div>
}